doctype html
html
  head
    title Awards
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include parts/topline
    include parts/header
    include parts/topmenu
    include parts/signup-addproject
    include parts/content-register
    include parts/bottomlinks
    include parts/footer
