section.bottomlinks
  .calendar
    .content
      p.title Календарь конкурса
      .hr
      p Итоговая конференция пройдет 28.11.2017
      p Прием заявок открыт с 01.05.2017
      p Что-нибудь еще будет 13.06.2017
      .dots
        .dot.active
        .dot 
        .dot
  .sponsor
    .content
      p.title Стать спонсором
      .hr
      p Станьте спонсором конкурса, впишите имя своей компании в историю!
      a(href="/") Предложение
