section.content
  .container
    .main-content
      p
        a.previouslink(href="/") К СПИСКУ ПРОЕКТОВ
      p
        img(src="/images/sponsor.png")
  .container
    .main-content
      h1 КОРПОРАТИВНАЯ СИСТЕМА МОДЕЛИРОВАНИЯ ГАЗПРОМА
      .hr
      p Для повышения эффективности процессного управления по заказу &lauqo;Газпром нефти&raquo; была разработана единая методология моделирования элементов бизнес-архитектуры компании, включая такие предметные области как бизнес-процессы, организационная структура, цели, показатели, документы, и т.д.
      p Кроме того, была внедрена и настроена информационная система IRIS компании Software AG, обладающая широким спектром возможностей для графического представления существующих или целевых бизнес-процессов в виде процессных моделей, их дальнейшего анализа и автоматизированного документирования.
    .sidebar
      h3 ИНФОРМАЦИЯ
      .hr
      p.exe
        strong Исполнитель:
        br
        span &laquo;Логика BPM&raquo; (ГК &laquo;АйТи&raquo;)
      p
        img(src="/images/partner.png" width="200")
      p
        a.infolink(href="/") Описание
      p
        a.videolink(href="/") Видеозапись презентации
