section.content
  .container
    .main-content
      h1 Новости
      .hr
      .news-block
        p.date 25.05.2017
        p.title
          a(href="/") Прием заявок открыт с 01.05.2017
        .text
          p Добро пожаловать в WordPress. Это ваша первая запись. Отредактируйте или удалите её, затем пишите!
        p.more
          a(href="/")
      .news-block
        p.date 25.05.2017
        p.title
          a(href="/") Итоговая конференция пройдет 28.11.2017
        .text
          p В бальном зале Дворянского собрания.
        p.more
          a(href="/")
      .news-block
        p.date 25.05.2017
        p.title
          a(href="/") Привет, мир!
        .text
          p Добро пожаловать в WordPress. Это ваша первая запись. Отредактируйте или удалите её, затем пишите!
        p.more
          a(href="/")
      .news-block
        p.date 25.05.2017
        p.title
          a(href="/") Итоговая конференция пройдет 28.11.2017
        .text
          p В бальном зале Дворянского собрания.
        p.more
          a(href="/")
      .news-block
        p.date 25.05.2017
        p.title
          a(href="/") Привет, мир!
        .text
          p Добро пожаловать в WordPress. Это ваша первая запись. Отредактируйте или удалите её, затем пишите!
        p.more
          a(href="/")
    .sidebar
      h3 Метки
      .hr
      ul.tags
        li
          a(href="/") Мероприятие
    .left.pages
      ul.dots
        li.active
          a(href="/")
        li
          a(href="/")
        li
          a(href="/")
    .right
      p
        a.previous(href="/") Предыдущие
          span
