section.content
  .container
    .main-content
      h1 О КОНКУРСЕ
      .hr
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .sidebar
      h3 КАЛЕНДАРЬ
      .hr
      table.calendar
        tr
          td 1&nbsp;мая &mdash; 30&nbsp;сентября
          td Прием заявок и отбор финалистов.
        tr
          td 1&nbsp;октября &mdash; 15&nbsp;ноября
          td Презентация и оценка финалистов.
        tr
          td 15&nbsp;ноября &mdash; 30&nbsp;ноября
          td Торжественная церемония объявления финалистов и награждения победителей.
        tr
          td 1&nbsp;декабря &mdash; 31&nbsp;декабря
          td Публикация итогов Конкурса, информации о финалистах и победителях.
