section.content
  .container
    .main-content.full
      h1 ПРОЕКТЫ
      .hr
    .left
      .project
        p
          img(src="/images/sponsor.png")
        p.name Цифровая трансформация Сбербанка
        p.exe
          strong Исполнитель: 
          span проект выполнен своими силами.
        p.text В юридической службе банка с помощью BPMS сделана унификация процессов, контроль времени реакции на запросы. Ключевые процессы подвергшиеся автоматизации, &mdash; правовые запросы, законотворчество, судебные процессы.
        p.more
          a(href="/") Подробнее
      .project
        img(src="/images/sponsor.png")
        p.name Еще какая-нибудь система
        p.exe
          strong Исполнитель: 
          span &laquo;Логика BPM&raquo; (ГК &lauqo;АйТи&raquo;)
        p
          img(src="/images/partner.png" width="200")
        p.text В юридической службе банка с помощью BPMS сделана унификация процессов, контроль времени реакции на запросы. Ключевые процессы подвергшиеся автоматизации, &mdash; правовые запросы, законотворчество, судебные процессы.
        p.more
          a(href="/") Подробнее
    .right
      .project
        img(src="/images/sponsor.png")
        p.name Корпоративная система моделирования Газпрома
        p.exe
          strong Исполнитель: 
          span &laquo;Логика BPM&raquo; (ГК &lauqo;АйТи&raquo;)
        p
          img(src="/images/partner.png" width="200")
        p.text В юридической службе банка с помощью BPMS сделана унификация процессов, контроль времени реакции на запросы. Ключевые процессы подвергшиеся автоматизации, &mdash; правовые запросы, законотворчество, судебные процессы.
        p.more
          a(href="/") Подробнее
      .project
        p
          img(src="/images/sponsor.png")
        p.name Цифровая трансформация Сбербанка
        p.exe
          strong Исполнитель: 
          span проект выполнен своими силами.
        p.text В юридической службе банка с помощью BPMS сделана унификация процессов, контроль времени реакции на запросы. Ключевые процессы подвергшиеся автоматизации, &mdash; правовые запросы, законотворчество, судебные процессы.
        p.more
          a(href="/") Подробнее
