section.footer
  .container
    .contacts
      p.title Контакты оргкомитета
      .hr
      p 111024, г. Москва, 2-я ул. Энтузиастов, д.5, к.40, офис 212
      p +7 495 673-35-20
      p
        a(href="mailto:info@b-k.ru") info@b-k.ru
      p
        a(href="/") Схема проезда
    .links
      a.facebook(href="https://facebook.com")
      a.linkedin(href="https://linkedin.com")
    .search
      form
        input(type="text" placeholder="Поиск...")
