section.shortnews
  .prev
    a(href="/")
      span.arrow
      span Свежие
  .container
    .newsicon
    .block
      p.date
        a(href="/") 25.05.2017
      p.title
        a(href="/") Привет, мир!
      .hr
      p.text Добро пожаловать в Wordpress. Это ваша первая запись. Отредактируйте или удалите её, затем пишите!
      p.more
        a(href="/")
    .block
      p.date
        a(href="/") 25.05.2017
      p.title
        a(href="/") Итоговая конференция пройдет 28.11.2017
      .hr
      p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna...
      p.more
        a(href="/")
    .block
      p.date
        a(href="/") 25.05.2017
      p.title
        a(href="/") Прием заявок открыт с 01.05.2017
      .hr
      p.text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p.more
        a(href="/")
  a.next(href="/")
    span Предыдущие
    span.arrow
  a.allnews(href="/") 
    span Все новости
    span.icon
