section.sponsors
  h2 Спонсоры и партнеры
  .hr
  .partners
    a.partner(href="/")
    a.partner(href="/")
    a.partner(href="/")
    a.partner(href="/")
    a.partner(href="/")
    a.partner(href="/")
    a.partner(href="/")
