section.topmenu
  ul
    li
      a(href="/") Новости
    li
      a(href="/") О конкурсе
        span.more
    li
      a(href="/") Участникам
        span.more
    li
      a(href="/") Проекты
    li
      a(href="/") Итоговая конференция
        span.more
    li
      a(href="/") 2017
        span.more
